<header class="header">
    <a href="/" class="header__logo">Admin Pages</a>

    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a href="/" class="header__nav-link">Home</a>
            </li>
            <li class="header__nav-item">
                <a href="/about" class="header__nav-link">About</a>
            </li>
            <li class="header__nav-item">
                <a href="/" class="header__nav-link">Go Home page</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button>
            <a href="/logout">
                Logout
            </a>
        </button>

    </div>
</header>