<div class="author">
  <h1 class="author__heading">Hi, I am DucDat.</h1>
  <p class="author__body">Web Developer and Content creator.</p>
</div>

<img src="/img/author.jpg" alt="author" class="author__img" width="981" height="528">

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">
    <% if (data && data.length> 0) { %>
      <% data.forEach(post=> { %>
        <li>
          <a href="/post/<%= post._id %>">
            <span>
              <%= post.title %>
            </span>
            <span class="article-list_date">
              <%= post.createdAt.toDateString() %>
            </span>
          </a>
        </li>
        <% }) %>
          <% } else { %>
            <li>No posts available.</li>
            <% } %>
  </ul>

  <% if (nextPage !==null) { %>
    <a href="/?page=<%= nextPage %>>" class="pagination">&lt; View all posts</a>
    <% } %>

</section>