<div class="author">
    <h1 class="author__heading">Hi, I am DucDat.</h1>
    <p class="author__body">Web Developer and Content creator.</p>
</div>

<img src="/img/author.jpg" alt="author" class="author__img" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>   
    </ul>

    <a href="#" class="pagination">&lt; View all posts</a>
</section>