<div class="author">
    <h1 class="author__heading">Search Results</h1>
</div>

<section class="articles">
    <ul class="article-ul">
        <% if (data && data.length> 0) { %>
          <% data.forEach(post=> { %>
            <li>
              <a href="/post/<%= post._id %>">
                <span>
                  <%= post.title %>
                </span>
                <span class="article-list_date">
                  <%= post.createdAt.toDateString() %>
                </span>
              </a>
            </li>
            <% }) %>
              <% } else { %>
                <li>No posts available.</li>
                <% } %>
      </ul>
</section>